# Empty CSS file for your own CSS

/* web fonts
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Tulpen One', cursive;
*/

.titlebar a:link {
	margin-top: -30px;
}

.tilt i{
  width: 55px;
  -webkit-transform: rotate(-25deg) scale(1);
  transform: rotate(-25deg) scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
	
}
.snip1434 {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 25px 0px 70px;
  text-align: center;
  display: inline-block;
  margin: 12px 25px;
  font-weight: 600;
  outline: none;
  position: relative;
  font-size: 18px;
  line-height: 50px;
  background-color: #8a1a32;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.snip1434 i {
  font-size: 4em;
  width: 55px;
  line-height: 50px;
  position: absolute;
  left: -5px;
  top: 5px;
  -webkit-transform: rotate(-25deg) scale(1);
  transform: rotate(-25deg) scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.snip1434:hover,
.snip1434.hover {
  color: #ffffff;
  background-color: #ac203f;
  text-decoration: none;

}
.snip1434:hover i,
.snip1434.hover i {
  -webkit-transform: rotate(-20deg) scale(1.3);
  transform: rotate(-20deg) scale(1.3);
}

.vulntitle {
font-family: 'Rajdhani', sans-serif;
font-size: 4em;
background: #2b3449;
background: -moz-linear-gradient(left, #2b3449 0%, #3f4c6b 100%);
background: -webkit-linear-gradient(left, #2b3449 0%,#3f4c6b 100%);
background: linear-gradient(to right, #2b3449 0%,#3f4c6b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3449', endColorstr='#3f4c6b',GradientType=1 );padding: 5px 20px 5px 80px;
border-radius: 4px;
color: whitesmoke;
	
}

.vulntitle i {
  font-size: 1em;
  width: 55px;
  line-height: 50px;
  position: absolute;
  left: 35px;
  top: 10px;
  -webkit-transform: rotate(-25deg) scale(1);
  transform: rotate(-25deg) scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.vulncard {
font-family: 'Abel', sans-serif;
background: #eeeeee;
background: -moz-linear-gradient(-45deg, #eeeeee 0%, #cccccc 100%);
background: -webkit-linear-gradient(-45deg, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(135deg, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
font-size: x-small;
line-height: 1;
min-height: 340px;
max-height: auto;
padding-bottom: 10px;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.vulntitlesub {
font-family: 'Rajdhani', sans-serif;
font-weight: bold;
background: #2b3449;
background: -moz-linear-gradient(left, #2b3449 0%, #3f4c6b 100%);
background: -webkit-linear-gradient(left, #2b3449 0%,#3f4c6b 100%);
background: linear-gradient(to right, #2b3449 0%,#3f4c6b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3449', endColorstr='#3f4c6b',GradientType=1 );padding: 5px 10px 5px 10px;
border-radius: 4px;
color: whitesmoke;
vertical-align: middle;

}

.vulntitlesub i {
  -webkit-transform: rotate(-25deg) scale(1);
  transform: rotate(-25deg) scale(1) !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 2em;
  width: 55px;
  color: whitesmoke;

}

.vultitlesub a:link, a:visited, a:active {
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	color: whitesmoke;
}


.normalert {
font-family: 'Abel', sans-serif;
font-size: 13px;
padding: 4px;
margin-bottom: 1px;
}

.normalert p {
left: 5px;	
}

.normalert a:link, .normalert a:visited, .normalert a:active {
	text-decoration: none;
	font-size: 13px;
	color: #3c3b6d;
	font-weight: bold;
	
}
.newalert {
font-family: 'Abel', sans-serif;
font-size: 14px;
background: #6d0019;
background: -moz-linear-gradient(left, #6d0019 0%, #6d0019 0%, #8f0222 50%, #a90329 100%);
background: -webkit-linear-gradient(left, #6d0019 0%,#6d0019 0%,#8f0222 50%,#a90329 100%);
background: linear-gradient(to right, #6d0019 0%,#6d0019 0%,#8f0222 50%,#a90329 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=1 );
color: #fffb9e;
padding: 4px;
border-radius: 4px;
margin-bottom: 1px;
}

.newalert p {
left: 5px;	
}

.newalert a:link, .newalert a:visited, .newalert a:active {
	text-decoration: none;
	font-size: 14px;
	color: Whitesmoke;
	font-weight: normal;
	
}


.divider-outside-bottom {
  position:relative;
}
.divider-outside-bottom:before {
  content: ""; 
  position:absolute; 
  z-index: -1; 
  width:96%;  
  bottom: 0; 
  height: 10px; 
  left: 2%; 
  border-radius: 100px / 5px; 
  box-shadow:0 0 18px rgba(0,0,0,0.6); 
}	

.feedlist {
background-color: whitesmoke;
color: #212121;
}

body {
  background-color: #212121;
  padding: 25px 0;
}